<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="header :: myheader"></div>
    <title>Author Profile Page</title>

</head>
<!--
<div class="logout">
    <form th:action="@{/logout}" th:method="post">
        <input type="submit" value="Sign Out">
    </form>
</div>
-->
<body>
<div th:insert="navBar :: menubar"></div>

<main>


<div class="container">


    <h1> <b> have to add the previous visit page b4 login!!!! </b></h1>



    <h1> Your registration is successfully done !!! </h1>


    <p> You are log in as <b>[[${#request.userPrincipal.principal.fullName}]]</b></p>
    <hr>
    <p>Go to
       <b> <span sec:authentication="principal.fullName"> </span> 's</b>
        <a th:href="@{/templates/author/authorBlogHome.html}">
            <button type="button" class="btn btn-primary" >Blog home page</button>
        </a>
    </p>

    <div class="form-check">
        <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="remember-me"
                name="remember-me"

        />
        <!--                                checked-->
        <label class="form-check-label" for="remember-me"> Remember me </label>
    </div>
        <hr>

    <span sec:authentication="principal.fullName"> </span>

    <div class="profileContainer">

         <form class="mx-1 mx-md-4">


            <div class="vol-8">
                <lable> Email :</lable>
                <input th:type="text" th:name="email"  th:value="${authordetail.username}">
            </div>

            <div class="vol-8">
                <lable> Full Name :</lable>
                <input th:type="text" th:name="fullName" th:value="${authordetail.fullName }">
            </div>

            <div class="vol-8">
                <lable> First Name :</lable>
                <input th:name="firstName" th:type="text" th:value="${lgauthor.getFirstName() }">
            </div>

            <div class="vol-8">
                <lable> Last Name :</lable>
                <input th:type="text" th:name="lastName" th:value="${lgauthor.getLastName() }">
            </div>

            <div class="vol-8">
                <lable> User Name :</lable>
                <input th:type="text" th:name="userName" th:value="${lgauthor.getUserName() }">
            </div>

            <div class="vol-8">
                <lable> House Number :</lable>
                <input th:type="text" th:name="userName" th:value="${lgauthor.getHouseNo() }">
            </div>

<!--
             <div class="form-check">
                 <input
                         class="form-check-input"
                         type="checkbox"
                         value=""
                         id="remember-me"
                         name="remember-me"

                 />
                                                checked
                 <label class="form-check-label" for="remember-me"> Remember me </label>
             </div>
    -->
        </form>

    </div>



    <!--    <div class="menubar" th:replace=" ">Footer</div>-->


</div>

</main>
<div th:insert="footer :: footer"></div>
</body>
</html>