<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="header :: myheader"></div>
<!--    <link rel="stylesheet" th:href="@{}"/>-->
    <title>Author's Blog Home Page </title>

</head>

<body>
<div th:insert="navBar :: menubar"></div>

<main>

    <div class="container">
        <div class="sidebar"></div>
        <div class="storycontainer">
            <br>
            <h2>Author Blog Home Page</h2>
            <br>
            <hr>
            <br>
            <h3>You are Log in as <b>[[${#request.userPrincipal.principal.fullName}]]</b></h3>
            <a th:href="@{/createArticle}">
            <button type="button" class="btn btn-success" >Create new article</button>
              </a>
            <hr>
            <p> This page is an Author's Blog Home Page. So other authors can't access to this page.</p>
        </div>

    </div>

</main>

<div th:insert="footer :: footer"></div>
</body>
</html>