<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author Profile Page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div class="container">
    <p>have to add the previous visit page b4 login!!!!</p>
    <h3><a th:href="@{/login}"> Login </a></h3>
    <div class="profileContainer">
        <div class="m-3">

<!--            delete button here, not working-->
            <input type="button" value="Delete Account" onclick="/delete-author?id=$[user.id]">
<!--            delete button here-->

            <div class="form-group row">

                <label class="col-form-label col-4" for="email"><b>Email</b></label>
                <div class="vol-8">
                    <input type="text" placeholder="Enter Email" th:name="email" id="email"
                           required>
                </div>

                <div class="vol-8">
                    <label class="col-form-label col-4" for="psw"><b>Password</b></label>

                    <input type="password" placeholder="Enter Password" th:name="psw"
                           id="psw"
                           minlength="8" maxlength="15" required>
                </div>
                <!--                    <div class="vol-8">-->
                <!--                    <label class="col-form-label col-4" for="psw-repeat"><b>Repeat Password</b></label>-->

                <!--                        <input type="password" placeholder="Repeat Password" th:field="*{password}" th:name="psw-repeat"-->
                <!--                               id="psw-repeat" minlength="8" maxlength="15" required>-->
                <!--                    </div>-->
                <div class="vol-8">
                    <label class="col-form-label col-4" for="firstName"><b>First Name</b></label>

<!--                    <input type="text"  th:name="firstName" th:value = " author."-->
<!--                           id="firstName" required>-->
                    <input type="text"  th:name="firstName" th:value="${author.username}"
                           id="firstName" required>

                </div>
                <div class="vol-8">
                    <label class="col-form-label col-4" for="lastName"><b>Last Name</b></label>

                    <input type="text" placeholder="Last Name" th:name="lastName"
                           id="lastName"
                           required>
                </div>

                <div class="vol-8">
                    <label class="col-form-label col-4" for="userName"><b>User Name</b></label>

                    <input type="text" placeholder="Last Name" th:name="userName"
                           id="userName"
                           required>
                </div>

                <div class="vol-8">
                    <label class="col-form-label col-4" for="streetName"><b>Street Name</b></label>

                    <input type="text" placeholder="street Name" th:name="streetName"
                           id="streetName"
                           required>
                </div>


                <div class="vol-8">
                    <label class="col-form-label col-4" for="houseNo"><b>House Number</b></label>

                    <input type="text" placeholder="house number" th:name="houseNo"
                           id="houseNo"
                           required>
                </div>

                <div class="vol-8">
                    <label class="col-form-label col-4" for="cityName"><b>City Name</b></label>

                    <input type="text" placeholder="City Name" th:name="cityName"
                           id="cityName"
                           required>
                </div>

                <div class="vol-8">
                    <label class="col-form-label col-4" for="zipCode"><b>Zip Code</b></label>

                    <input type="number" placeholder="Zip code" th:name="zipCode"
                           id="zipCode"
                           required>
                </div>


            </div>
            <div class="sidebar"></div>


        </div>
    </div>
</div>

</body>
</html>