

<div id="footer" th:fragment="footer" style="padding: 1em 0em 0.5em 0em"; >
    <footer class="bg-dark text-center text-lg-start fixed-bottom">
        <!-- Copyright -->
        <div class="text-center p-3"          style="color: rgb(255, 255, 255)"

        >
            <!-- style="background-color: rgba(0, 0, 0, 0.2)" -->
            © 2020 Copyright:
            <a class="text-light" href="/">Blog Central by (Intec Brussels Java 2020) Ali, Kevin and Salai </a>
        </div>
        <!-- Copyright -->
    </footer>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>



