<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
     >

<head>
        <div th:replace="header :: myheader"></div>
    <title>Blog Central Group Project Home Page</title>
    <link rel="stylesheet" th:href="@{/homeStyle.css}"/>
<!--   <header xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" ></header>-->
</head>

<body>
<div th:insert="navBar :: menubar"></div>
<main>
<div class="container">
    <div class="header">
        <h2>Hello from SpringBoot Login and Register with MySQL Home Page !</h2>
    </div>
    <div class="container-fluid">


        <div class="container-sm">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti est id modi molestias mollitia perspiciatis ullam? Animi aperiam consectetur culpa ea ipsam obcaecati officia. At enim ex harum iure suscipit?</p>
        </div>
        <div class="container-sm">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa, excepturi iusto labore laboriosam magnam molestias odit sint tempora tempore? Doloremque enim explicabo in nulla quae quaerat quod, quos repellat?</p>
        </div>

    </div>


</div>
</main>

<div th:insert="footer :: footer"></div>

<!--<script th:src="@{/js/bootstrap.main.js}"></script>-->
<!--<script th:src="@{/js/jquery-3.6.0.min.js}"></script>-->
</body>
</html>