<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LogIn Page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>

<body>
<div class="container">
    <h3>Login</h3>

    <div class="LoginForm">
        <form th:action="@{/user_login}" method="post">

            <div class="imgcontainer">
                <img src="img_avatar2.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="email"><b>Username</b></label>
                <input type="text" placeholder="Enter Email" th:name="email" id="email" required>


                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" th:name="psw" id="psw" minlength="8" maxlength="15"
                       required>

                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>

    </form>

    <!--ebd of the login form-->
</div>


<div class="reg">
    <p> If you do not have an account yet</p>
    <h3><a th:href="@{/register}"> Register here </a></h3>
</div>

<!-- end of main container -->
</div>

</body>
</html>