<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registered / Author detail Setting Page </title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

</head>
<body>
<div class="container">

    <h1> Your registration is successfully done !!! </h1>
    <h3>You are Log in as  <b>[[${#request.userPrincipal.principal.fullName}]]</b> </h3>
    <h3><a th:href="@{/authorSettingPage}"> Author Profile Page </a></h3>


    <div class="logout">
        <form th:action="@{/logout}" th:method="post">
            <input type="submit" value="Sign Out">
<!--            <button type="submit" class="logoutbtn" th:value="" Sign Out>LogOut</button>-->
        </form>
    </div>

    <h3><a th:href="@{/}"> Home Page </a></h3>
    <p> This page will be Author detail Setting Page. So other authors can't access to this page.</p>
</div>

</body>
</html>