<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: myheader"></div>

    <!--    specific css style-->
    <link rel="stylesheet" th:href="@{/register.css}"/>
    <title>Register Page</title>


</head>
<body>
<div th:insert="navBar :: menubar"></div>

<main>
    <div class="container">

        <div class="regNewUser">

            <section class="h-100 h-custom gradient-custom-2">
                <div class="container py-5 h-100">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                        Register
                    </p>
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12">
                            <div class="card card-registration card-registration-2"
                                 style="border-radius: 15px">

                                <form class="mx-1 mx-md-4" th:action="@{/process_register}"
                                      method="post"
                                      th:object="${user}">

                                    <div class="card-body p-0">
                                        <div class="row g-0">

                                            <div class="col-lg-6">
                                                <div class="p-5">
                                                    <h3 class="fw-normal mb-5" style="color: #4835d4">
                                                        General Infomation </h3>

                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                        <div class="form-outline flex-fill mb-0">

                                                            <input class="form-control" type="email"
                                                                   placeholder="Enter Your Email"
                                                                   th:field="*{email}" th:name="email" id="email"
                                                                   required/>
                                                            <label class="form-label" for="email">Email</label>

                                                        </div>
                                                    </div>


                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                                        <div class="form-outline flex-fill mb-0">
                                                            <input class="form-control" type="password"
                                                                   placeholder="Enter Password"
                                                                   th:field="*{password}" th:name="psw"
                                                                   id="psw"
                                                                   minlength="8" maxlength="15" required/>
                                                            <label class="form-label" for="psw">Password</label>
                                                        </div>
                                                    </div>

                                                    <!--
                                                                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                                                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                                                                                        <div class="form-outline flex-fill mb-0">
                                                                                                            <input class="form-control" type="password"
                                                                                                                   placeholder="Enter Password" th:field="*{password}"
                                                                                                                   th:name="psw-repeat"
                                                                                                                   id="psw-repeat"
                                                                                                                   minlength="8" maxlength="15" required/>
                                                                                                            <label class="form-label" for="psw-repeat">Repeat your
                                                                                                                password</label>
                                                                                                        </div>
                                                                                                    </div>
                                                     -->

                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                        <div class="form-outline flex-fill mb-0">
                                                            <input class="form-control" type="text"
                                                                   placeholder="First Name"
                                                                   th:field="*{firstName}" th:name="firstName"
                                                                   id="firstName" required/>
                                                            <label class="form-label" for="firstName">First
                                                                Name</label>
                                                        </div>
                                                    </div>


                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                        <div class="form-outline flex-fill mb-0">
                                                            <input class="form-control" type="text"
                                                                   placeholder="Last Name"
                                                                   th:field="*{lastName}" th:name="lastName"
                                                                   id="lastName" required/>
                                                            <label class="form-label" for="lastName">Last
                                                                Name</label>
                                                        </div>
                                                    </div>


                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                        <div class="form-outline flex-fill mb-0">
                                                            <input class="form-control" type="text"
                                                                   placeholder="User Name"
                                                                   th:field="*{userName}" th:name="userName"
                                                                   id="userName" required/>
                                                            <label class="form-label" for="userName">User
                                                                Name</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-lg-6 bg-indigo text-white">
                                                <div class="p-5">
                                                    <h3 class="fw-normal mb-5">Contact Details</h3>

                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                        <div class="form-outline flex-fill mb-0">
                                                            <input class="form-control" type="text"
                                                                   placeholder="street Name"
                                                                   th:field="*{streetName}" th:name="streetName"
                                                                   id="streetName"
                                                                   required/>
                                                            <label class="form-label" for="streetName">Street
                                                                Name</label>
                                                        </div>
                                                    </div>


                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                        <div class="form-outline flex-fill mb-0">
                                                            <input class="form-control" type="number"
                                                                   placeholder="house number"
                                                                   th:field="*{houseNo}" th:name="houseNo"
                                                                   id="houseNo"
                                                                   required/>
                                                            <label class="form-label" for="houseNo"><b>House
                                                                Number</b></label>
                                                        </div>
                                                    </div>


                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                        <div class="form-outline flex-fill mb-0">
                                                            <input class="form-control" type="text"
                                                                   placeholder="City Name"
                                                                   th:field="*{cityName}" th:name="cityName"
                                                                   id="cityName"
                                                                   required/>
                                                            <label class="form-label" for="cityName"><b>City
                                                                Name</b></label>
                                                        </div>
                                                    </div>


                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                        <div class="form-outline flex-fill mb-0">
                                                            <input class="form-control" type="number"
                                                                   placeholder="Zip code"
                                                                   th:field="*{zipCode}" th:name="zipCode"
                                                                   id="zipCode"
                                                                   required/>
                                                            <label class="form-label" for="zipCode"><b>Zip
                                                                Code</b></label>
                                                        </div>
                                                    </div>

                                                    <div class="form-check " >
                                                        <input
                                                                class="form-check-input me-2"
                                                                type="checkbox"
                                                                value=""
                                                                id="remember-me"
                                                                name="remember-me"

                                                        />
                                                        <!--                                checked-->
                                                        <label class="form-check-label" for="remember-me"> Remember me </label>
                                                    </div>


                                                    <div class="form-check ">
                                                        <input
                                                                class="form-check-input me-2"
                                                                type="checkbox"
                                                                value=""
                                                                id="form2Example3c"
                                                        />
                                                        <label class="form-check-label" for="form2Example3c">
                                                            By creating an account I agree all statements in <a
                                                                href="#!">Terms
                                                            of service</a>
                                                        </label>
                                                    </div>

                                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                        <button class="btn btn-primary btn-lg" type="submit">
                                                            Register
                                                        </button>
                                                    </div>


                                                    <div class="form-check d-flex justify-content-center mb-5">
                                                        <label class="form-check-label">
                                                            Already have an account? <a th:href="@{/login}">
                                                            Sign
                                                            in </a>.</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <!--                                                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">-->

                <!--                                                    <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/draw1.png"-->
                <!--                                                         class="img-fluid" alt="Sample image">-->

                <!--                                                </div>-->


            </section>

            <!--    end regnewuser-->
        </div>
        <!--end container-->
    </div>
</main>
<div th:insert="footer :: footer"></div>

</body>
</html>