<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Central Group Project Home Page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/homeStyle.css}"/>

    <!--    <link rel="stylesheet" href="../static/homeStyle.css">/5.1.0   th:type="text/css" -->

</head>
<body>
<div class="container">
    <div class="header">
        <h2>test page 2 !</h2>
    </div>
    <div class="loginPage">
        <form>
            <h3><a th:href="@{/login}"> Login </a></h3>
            <h3><a th:href="@{/test1 page}"> TEST1 page </a></h3>
            <input type="button" value="Go back!" onclick="history.back()">
        </form>



    </div>

</body>
</html>