<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Central Group Project Home Page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/homeStyle.css}"/>

    <!--    <link rel="stylesheet" href="../static/homeStyle.css">/5.1.0   th:type="text/css" -->

</head>
<body>
<div class="container">
    <div class="header">
        <h2>test page 2 !</h2>
    </div>
    <div class="loginPage">
        <form>
            <h3><a th:href="@{/login}"> Login </a></h3>
            <h3><a th:href="@{/test1 page}"> TEST1 page </a></h3>
            <input type="button" value="Login!" onclick="history.back()">
        </form>
    </div>

    <div class="vol-8">
<!--        <label class="col-form-label col-4" for="streetName"><b>Street Name</b></label>-->

        <h3>You are Log in as  <b>[[${#request.userPrincipal.principal.StreetName}]]</b> </h3>

<!--        <input type="text" placeholder="street Name" th:field="${{#getStreetName}}" th:name="streetName"-->
<!--               id="streetName"-->
<!--               required>-->
    </div>
</div>

</body>
</html>